header {
  text-align: center;
  margin-block: 2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5em;
  position: relative;
  text-align: center;
}

h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;  /* Start at 10% */
  width: 80%;  /* Take up 80% of the width */
  border-bottom: #000 1px solid;
}

.contact-info {
  font-size: 0.9rem;
  line-height: 1.4;
}

.contact-info p {
  margin: 0.3rem 0;
}

.contact-info a {
  color: #1b7627;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}