h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: #000 0.5px solid;
  padding-block-end: 0.2rem;  /* Title and border */
  margin-block-end: 0.4rem;  /* Border and paragraph */
}

p {
  margin-block-start: 0;
  text-align: justify;
  text-justify: inter-word;
}